/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root {
    --header_bg_color: rgba(255, 144, 14, 0.1);
    --address_bg_color: #2C1552;
    --footer_bg_color: #FFF4E7;
    --btn_bg_color: #FF900E;
    --dark_color_1: #131313;
    --dark_color_2: #424242;
    --dark_color_3: #727272;
    --white: #FFFFFF;
    --white_color_2: #EBDDFC;

}

/* Universal Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* Common Styles */
.container {
    margin: 30px 140px;
}

.title {
    font-weight: 700;
    font-size: 40px;
    color: var(--dark_color_1)
}

.description {
    color: var(--dark_color_2);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 25px;
}

img {
    width: 100%;
}

.primary-btn {
    color: var(--white);
    background-color: var(--btn_bg_color);
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    margin-top: 32;
}

/* Header SectionStyles */
.header {
    background-color: var(--header_bg_color);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* Navigation Styles  */

.navigation-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    margin-bottom: 100px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--dark_color_1);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navigation a {
    font-weight: 500;
    font-size: 18px;
    color: var(--dark_color_2);
}


/* Banner Section */
.head-banner-section {
    text-align: center;
}

.banner-details {
    margin: 0 150px;
}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: var(--dark_color_1);
}

.banner {
    margin-top: 50px;
    margin-bottom: 50px;
}

.banner img {
    width: 100%;
    border-radius: 8px;
}

/* teams-section */
.teams-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 70px;
    align-items: center;
    margin-top: 80px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.team-img img {
    width: 100%;
    border-radius: 8px;
}

/* Feature Section */

.feature-section {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    margin-top: 100px;
}

.feature-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;

}

.article {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.article-title {
    font-weight: 600;
    font-size: 18px;
    color: var(--dark_color_1);
    margin-bottom: 5px;
}

.article-text {
    color: var(--dark_color_2);
    font-weight: 400;
    font-size: 15px;
}

.feature-banner {
    text-align: right;
}

.feature-banner img {
    width: 90%;
    height: 90%;
}

.experience {
    width: 250px;
    height: 150px;
    background-color: var(--btn_bg_color);
    color: var(--white);
    border-radius: 8px;
    padding: 45px;
    margin: 0 auto;
    text-align: center;
    transform: translate(50px, -150px);
}

/* Some Fact Styles */
.some-fact {
    margin-top: 10px;
    margin-right: 300px;
}

/* success Section styles */
.success-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 0 50px;
}

.success-item {
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 200px;
    width: 200px;
    padding-top: 30px;
    transition: transform 4s;

}

.success-item:hover {
    transform: scale(0.5) rotate(360deg);
}

.success-item img {
    height: 45px;
    width: 45px;
}

.success-number {
    font-weight: 600;
    font-size: 45px;
    color: var(--dark_color_2);
}

.success-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--dark_color_3);
}

/* Sponsors Section */
.sponsors {
    margin-top: 150px;
    margin-bottom: 100px;
}

.sponsor-info {
    text-align: center;
    margin: 60px 200px;
}

.sponsor-logo {
    display: flex;
    justify-content: space-between;
}

/* Address and Social Section */
.address-social {
    background-color: var(--address_bg_color);
    color: var(--white_color_2);
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 8px;
}

.address-item {
    font-size: 20px;
    margin-top: 5px;
}

.social {
    margin-top: 30px;
}

.social img {
    height: 40px;
    width: 40px;
    margin: 5px;
}

/* Copyright Information */
.copyright {
    background-color: var(--footer_bg_color);
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 8px;
}

.copyright-info {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: var(--dark_color_2)
}

/*------------------------------------
                 Mobile Responsive 
                 width < 576px
    -----------------------------------*/
@media only screen and (max-width:576px) {

    /* Common Styles */
    .container {
        margin: 0;
        padding: 10px;
    }

    /* Navigation and Banner */
    .navigation-section {
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
        text-align: center;
    }

    .navigation {
        flex-direction: column;
    }

    .banner-details {
        margin: 0;
    }

    /* Team Section */
    .teams-section {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px
    }

    .team-img {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
    }

    /* Feature Section */
    .feature-section {
        grid-template-columns: 1fr;
    }

    .experience {
        transform: none;
    }


    /* Some Fact Section */
    .some-fact{
        margin: 20px 0 0;
        text-align: center;
    }

    /* Success Section */

.success-container {
    flex-direction: column;
    row-gap: 20px;
}



}




.hide {
    display: none;
}